.body {
    background-image:(black,white);
    background-color: #cccccc;}
.parent {
    cursor: url(myBall.cur),auto;
    
    background-image: url("https://img.freepik.com/premium-photo/close-up-classic-car-garage-selective-focus_890887-514.jpg");
   background-position:3;
   background-size: cover; 
   height: 50vh;
    display: flex;
    box-shadow:  10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);    
@keyframes identifier { 0%   {background-color:red; left:0px; top:0px;}
25%  {background-color:yellow; left:200px; top:0px;}
}
img{animation: myAnim 5s ease-in 0s 1 normal forwards;}

@keyframes .img{
    0% {
        background-position: center bottom;
        background-size: 100%;
    }

    100% {
        background-position: center bottom;
        background-size: 150%;
    }

}}
.child > form  {
   
    
    
    button{
        margin: 12;
        background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
    }
  
display: flexbox;
    color: white;
    text-align: center;
    padding: 25;
    margin-top: 60;
     background-image: url("https://img.pikbest.com/wp/202343/metal-steel-texture-glossy-shining-metallic-background_9972616.jpg!bw700");
    shape-margin: 100;
    flex-direction: row;
    justify-content: center;
    clip-path: polygon(15% 0%, 85% 0%, 100% 15%, 100% 85%, 85% 100%, 15% 100%, 0% 85%, 0% 15%);
    height: 250px;
    width: 300px;
    margin-top:200;
    margin-left:120;
    
    

  
    .textboxstyle{
        padding: 10px;
     font-size: 15px;
     border-width: 2px;
     border-color: #CCCCCC;
     background-color: #FFFFFF;
     color: #000000;
     border-style: outset;
     border-radius: 5px;
     box-shadow: 0px 0px 5px rgba(66,66,66,.75);
     text-shadow: 0px 0px 5px rgba(66,66,66,.75);
    }

}   
.wrapper{
   display:flex;
    flex-direction: row;
    margin: 100;
}
.wrapper .dot{
    height: 8vh;
    width: 8vh;
    border-radius: 25%;
    display: block;
    background-color: white;
margin: 5px;
animation: animate 0.6s ease-in-out infinite alternate;
}
.dot:nth-child(1){
    animation-delay:  -0.25s;;
   background-image: url(emoticon+eyes+heart+love+icon-1320166821271473962.png);
   background-size: cover;
}
.dot:nth-child(2){
    animation-delay: -5s;
    background-image: url(icone2.png);
    background-size: cover;
}
.dot:nth-child(3){
    animation-delay: -0.75s;
    background-image: url(icone3.png);
    background-size: cover;
}
.dot:nth-child(4){
    animation-delay: -1s;
    background-image: url(icone4.png);
    background-size: cover;
}
@keyframes animate {
    0%{transform: translateY(-10px);}
    100%{transform: translateY(5px);}
}
.image {
  -webkit-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeInLeftBig {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(-2000px, 0, 0);
  transform: translate3d(-2000px, 0, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  }
  @keyframes fadeInLeftBig {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(-2000px, 0, 0);
  transform: translate3d(-2000px, 0, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  } 
